<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, quas maiores commodi libero nulla dicta sunt voluptate explicabo obcaecati! Provident fugit ipsam maxime beatae nisi. Iste, quam eos? Consequatur, porro.</p>
        <p>Magnam sequi delectus repellat ipsum itaque quasi facere tempora voluptates incidunt animi, consequatur ea illum culpa similique distinctio nobis adipisci quaerat? Provident labore non, hic voluptatum pariatur incidunt error ipsum.</p>
        <p>In hic, excepturi, similique ullam at accusantium earum aperiam mollitia, nihil nesciunt eius. Ipsum voluptatum adipisci neque voluptatem inventore repudiandae totam obcaecati non deserunt a, dolorum distinctio voluptas nihil! Ipsa?</p>
    </div>
    

    <%- include('./partials/footer.ejs') %>
</body>
</html>